body {
  height: 100vh;
  background: linear-gradient(
    to top,
    yellow 50%,
    blue 50%
  );
}

myVideo {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

canvas {
    display: none;
}
